CATALOG=main
SCHEMA=aftermarket_agent_poc

# SQL Warehouses -> your warehouse -> Connection details
DATABRICKS_SERVER_HOSTNAME=dbc-xxxx.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/xxxxxxxxxxxxxxxx
DATABRICKS_TOKEN=your-databricks-token-here



# stdio for local agents, streamable-http for MCP Inspector
#MCP_TRANSPORT=stdio
#MCP_HOST=127.0.0.1
#MCP_PORT=8000

$env:PYTHONPATH="."
$env:MCP_TRANSPORT="streamable-http"
$env:MCP_HOST="127.0.0.1"
$env:MCP_PORT="8000"
python app.py
